.outgoingMessage {
  padding: 5px;
  align-self: flex-end;
  width: 60%;
  margin: 5px;
  word-wrap: break-word;
  background-color: var(--block-background);
  box-shadow: 0 0 4px 2px var(--shadow-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;
}
.name {
  font-weight: 600;
  font-size: 20px;
  margin: 4px 3px 1px 8px;
}
.editButton,
.deleteButton,
.sureButton {
  opacity: 0.6;
  font-size: 10px;
  background: var(--block-backround);
  border: none;
  margin: 3px;
  color: var(--font-color);
}
.sureButton {
  font-weight: 600;
}

.editButton:hover,
.deleteButton:hover,
.sureButton:hover {
  color: var(--font-color);
  background: var(--chat-background);
  transition: 0.2s;
  box-shadow: 0 0 4px 2px var(--shadow-color);
  border-radius: 10px;
}
.date {
  margin: 5px;
}
.editedSpan {
  margin: 3px;
  margin-left: auto;
  font-size: 10px;
}
.submitEditInput {
  margin: 0 5px;
  font-size: 10px;
  background: var(--chat-background);
  border: 1px solid var(--border-color);
  box-shadow: 0 0 4px 2px var(--shadow-color);
  border-radius: 10px;
  transition: 0.1s;
}
.submitEditInput:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
.editInput {
  width: 99%;
  margin-right: 10px;
  font-size: 15px;
  border:dashed 1px var(--border-color);
  border-radius: 5px;
  background: var(--chat-background);
}
.editBlock {
  display: flex;
  flex-direction: row;
}
.editForm{
  width: 60%;
}
.Link {
  color: var(--font-color);
  text-decoration: none;
}