.editModal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modalRoot {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 5px;
  height: 120px;
  width: 200px;
  background-color: var(--chat-background);
}

.modalHeader {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.closeModalButton {
  background: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
.modalBody {
  margin: 10px;
}
.modalFooter {
  margin: 10px;
  margin-top: auto;
  margin-left: auto;
}

.modalEditButton {
  padding: 4px;
  border-radius: 5px;
  background-color: var(--chat-background);
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.modalEditButton:hover {
  background-color: var(--block-background);
  transition: 0.1s;
}
