.incomingMessage {
  background-color: var(--block-background);
  display: flex;
  width: 60%;
  word-wrap:break-word;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 4px 2px var(--shadow-color);
  border-radius: 15px;
  padding: 2px;
  margin: 5px;
}
.incomingMessageAvatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--shadow-color);
  margin: 7px 3px;
}
.username {
  font-weight: 600;
  font-size: 20px;
  margin: 1px 3px 1px 8px;
}
.data {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.text {
  margin: 1px 3px 1px 8px;
  line-height: 1.6;
  font-size: 15px;
}
.info {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}
.date {
  margin: 5px 3px;
}
.likeBlock {
  font-size: 20px;
  margin-left: auto;
}
.likeButton {
  font-size: 15px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  transition: 0.1s;
  margin: 5px 3px;
}
.likeButton:active {
  transform: rotate(20deg) scale(1.2);
  transition: 0.1s;
  border: none;
}
.like {
  transition: 0.2s;
}
