.login{
    margin: 40px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginInput{
    padding: 3px;
    margin: 10px;
    border-radius: 5px;
    border:1px solid var(--border-color)
}
.loginSubmit{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: none;
    border:1px solid var(--border-color);
    cursor: pointer;
}

.loginSubmit:hover{
    transition: 0.1s;
    background-color: var(--block-background);
}
.loginError{
    color: red;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}